

.course1,
.course2,
.course3
{
  margin-right: 0;
}




.course1 .plan {
  margin-top: 0;
}

.other-courses-list-part1 .course1 img,
.other-courses-list-part2 .course3 img

{
 
  width: 100%;
  object-fit: full;
}

.other-courses-list-part1 .course1, .other-courses-list-part1 .course2, .course {
  flex: 0 0 calc(33.333% - 15px);
  max-width: 33.333%;
}