
.best-of-cyber-security-info h1{
  font-weight: 600;
  color: #3A3B3C;
}



.most-promising-courses-title{
  font-weight: 600;
  text-align: center;
  max-width: 780px;
}
 
.best-of-cyber-security{
  background: #F9F9F9;
}
.best-of-cyber-security-wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.best-of-cyber-security-info{
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 170px;
}

.best-of-cyber-security-info h1{
  font-size: 36px;
}
.best-of-cyber-security-banner{
  flex: 0 0 50%;
  max-width: 50%;
}
.best-of-cyber-security-banner img{
  height: 100%;
  width: 100%;
  
}

.best-of-cyber-security-info p{
  margin-top: 20px;
}

.image{
  background-color: #1B618C;
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.category{
  display: flex;
  background: #FFFFFF;
box-shadow: 0px 3px 15px #00000014;
border-radius: 10px;
margin-right: 26px;
padding: 13px;
max-width: 265px;
flex: 0 0 28%;
max-width: 28%;

}

.data{
  padding-left: 10px;
}
.data p{
  margin-top: 2px;
}
.explore-through-our-course{
  padding: 80px 0;
  

}
.explore-through-our-course-wrapper{
  display: flex;
  flex-wrap: wrap;
  
}
.explore-through-our-course-categories{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.category:nth-child(3),
.category:nth-child(6)

{
  margin-right: 0;
}
.explore-through-our-course-title,
.part1{
  flex: 0 0 16%;
  max-width: 16%;
}

.explore-through-our-course-categories,
.explore-all-courses-button{
  flex: 0 0 84%;
  max-width: 84%;
 
  
}

.explore-all-courses-button{
  text-align: center;
  margin-top: 30px;
}

.explore-all-courses-button a{
  background: #1B618C 0% 0% no-repeat padding-box;
border-radius: 30px;
padding: 6px 20px;
text-decoration: none;
color: #FFFFFF;
}

.iot,.policy-framework,.cloud-security{
  margin-top: 20px;
}

.explore-all-courses-wrapper{
  display: flex;
}
.dot1{
  height: 5px;
  width: 5px;
  background-color: #FDB913;
  border-radius: 50px;
  position: relative;
  left: 8px;
  top:10px

}

.dot1::before{
  content: "";
  height: 5px;
  width: 5px;
  background-color: #0B2740;
  border-radius: 50px;
  position: absolute;
  left: 8px;
  

}

.dot1::after{
  content: "";
  height: 5px;
  width: 5px;
  background-color: #0B2740;
  border-radius: 50px;
  position: absolute;
  right: 8px;

}



.top-courses-on-cybered-wrapper{
  display: flex;
}

.top-courses-on-cybered-title{
  flex: 0 0 25%;
  max-width: 25%;
}

.top-courses-on-cybered-title h2{
  max-width: 257px;
}
.top-courses-on-cybered-data{
  flex: 0 0 75%;
  max-width: 75%;
}

.other-courses-list-part1{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}
.other-courses-list-part2
  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* justify-content:flex-end; */
  
}

.other-courses-list-part1,
.other-courses-list-part2

{
  /* margin-left: 100px; */
}
.other-courses-list-part1 .course1
{
  flex: 0 0 calc(69.5% - 26px);
  max-width: 69.5%; 
  
}
.other-courses-list-part1 .course2
{
  flex: 0 0 31%;
  max-width: 31%;
 
  
}

.other-courses-list-part2 .course3,
.other-courses-list-part2 .course4


{
  flex: 0 0 calc(35% - 26px);
  max-width: 35%; 
}
.other-courses-list-part2 .course5
{
  flex: 0 0 31%;
  max-width: 31%;
 
  
}

.course img{
  border-radius: 10px 10px 0 0;
}

.course1,
.course2,
.course3
{
  margin-right: 0;
}


.other-courses-list-part2{
  margin-top: 35px;
}



.other-courses-list-part1 .course1 img,
.other-courses-list-part2 .course3 img

{
 
  width: 100%;
  object-fit: full;
}

/* .course4{
  margin-right: 20px;
} */
.premium-plan-btn{
  background-color: rgba(253,185,19,0.2);
  display: inline-block;
    margin-top: 23px;
    padding: 8px 20px;
    color: #252525;
    text-decoration: none;
}
.plan{
  position: relative;
  
}
.plan i{
  position: absolute;
  top: 50%;
  right:0 ;
}

.course1 .plan{
  margin-top: 30px;
}

.top-courses-on-cybered-title p{
  margin-top: 20px;
  max-width: 257px;
}

.featured-on-cybered-wrapper{
  display: flex;
  flex-wrap: wrap;
  
}

.featured-on-cybered-title{
  flex: 0 0 25%;
  max-width: 25%;
}

.featured-on-cybered-data{
  flex: 0 0 75%;
  max-width: 75%;
  
}

.featured-on-cybered-title h2{
  max-width: 147px;
}

.featured-on-cybered-title p{
  margin-top: 20px;
  max-width: 257px;
}

.featured-on-cybered-data .course{
  flex: 0 0 100%;
  max-width: 100%;
}

.featured-on-cybered-data .course img{
  width: 100%;
  
}

.menu .course{
  margin-bottom: 40px;
}


.featured-on-cybered{
  margin-top: 25px;
  padding: 54px 0;
  
}

.featured-on-cybered-data .tabs{
  margin-bottom:40px ;
  margin-top: 10px;
}

.featured-on-cybered-data .tab{
  background: #E6E9EB;
border: 1px solid #0B2740;
border-radius: 30px;
padding: 8px 20px;
margin-right: 5px;
}

.featured-on-cybered-data .tab:last-child{
  margin-right: 0;
}

[data-tab-info] {
  display: none;
}

.tab-active[data-tab-info] {
  display: block;
  
}
.tabs-active{
  background-color: #06529C !important;
 color: #FFFFFF;
  font-weight: 600;
  transition: all 400ms ease-out;
 
}
.menu div:last-child{
  margin-bottom: 0!important;
}

.most-promising-courses-wrapper{
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.most-promising-courses{
  background: #0B2740;
}

.most-promising-courses-wrapper .title{
  font-size: 36px;
  color: #FFFFFF;
  font-weight: 600;
  max-width: 780px;

}

.most-promising-courses-wrapper a{
  background-color: #FDB913;
  padding: 6px 20px;
  color: #3A3B3C;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  margin-top: 30px;

}



.upgrade-through-cybered-data .data-one{
  background-color: #FFFFFF;
  /* height: 93px;
  width: 93px; */
}
.upgrade-through-cybered-data .data-one .img{

  background-color: #FDB913;
  border-radius: 50px;
  width: 55px;
  height: 55px;
}
.upgrade-through-cybered-data .data-two .img{
  background-color: #FDB913;
  width: 49px;
height: 61px;
}

.upgrade-through-cybered-data .data-three .img{
  background-color: #FDB913;
  width: 53px;
height: 62px;
}

.upgrade-through-cybered{
  padding: 50px 0 70px 0;
}
.upgrade-through-cybered-wrapper{
  position: relative;
  
}
.upgrade-through-cybered-data{
  display: flex;
  justify-content: space-between;
  
}

.upgrade-through-cybered-data .data-one,
.upgrade-through-cybered-data .data-two,
.upgrade-through-cybered-data .data-three

{
  background: #FFFFFF;
box-shadow: 0px 3px 25px #00000014;
border-radius: 10px;
padding: 13px 26px 40px 30px;
margin-top: 50px;
flex: 0 0 calc(33.333% - 15px);
max-width: 33.333%;
}



.upgrade-through-cybered-data .featured{
  margin-top: 12px;
}

.upgrade-through-cybered-data .featured p{
  margin-top: 5px;
}
.upgrade-through-cybered-wrapper h2

{
  text-align: center;
 
}

.upgrade-through-cybered-wrapper .dot1
{
  position: absolute;
  left: 50%;
  top: 18%;
}

.text-color{
  color: #1B618C;
}



.top-courses-on-cybered{
  padding: 50px 0;
}

.other-courses-list-part1 .course1,
.other-courses-list-part1 .course2,
.course
{
flex: 0 0 calc(33.333% - 15px);
max-width: 33.333% 

}




.top-courses-on-cybered-title h2{
  max-width: 266px;
}

.top-courses-on-cybered-data{
  padding-left: 20px;
}

.course1 .plan {
  margin-top: 0;
}
.policy-framework,
.cloud-security{
  background: transparent linear-gradient(180deg, rgba(27, 97, 140, 0.1) 0%, rgba(27, 97, 140, 0) 40%)
}
